################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Error pinmap.jpg

# Windows Zone.Identifier alternate data stream files
*:Zone.Identifier
